@import '@/assets/variables.scss';
@import '@/assets/colors.scss';
@import '~vuetify/src/styles/styles.sass';

.projects {
  width: 100%;
  height: 100%;
  &__cover-card {
    min-height: 133px;
  }
  &__table-header {
    margin-top: 16px;
    background-color: $MAIN_ORANGE;
    padding: $MAIN_SPACE;
    display: flex;
    align-items: center;
    &__title {
      font-size: 1.6rem;
      color: white;
      font-family: Montserrat;
      font-weight: 600;
    }
    &__action {
      display: flex;
      align-items: center;
    }
  }
  &__table-card {
    background-color: $MAIN_GREY;
  }
  &__table-description {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: $MAIN_SPACE 0;
    color: grey;
  }
}
@media #{map-get($display-breakpoints, 'md-and-up')}{
  .projects {
    &__table-header {
      margin-top: $MAIN_SPACE * 2;
    }
  }
}