// Greys
$g50: #F5F5F7;

// Oranges
$o500: #FF9700;

// Main Colors
$MAIN_BLACK: #000000;
$MAIN_ORANGE: #ff9700;
$MAIN_WHITE: #ffffff;
$MAIN_GREY: #F5F5F7;

// Status Colors 
$STATUS_APPROVED: #29CC97;
$STATUS_FINISHED: #2696E8;
$STATUS_WAITING: #FEC400;
$STATUS_REPROVED: #FF4C33;
$STATUS_DOING: #FF9C33;