// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$MAIN_SPACE: 15px;
$MAIN_SPACE_DESKTOP: 45px;

$LAYOUT_PADDING: 15px;
$LAYOUT_PADDING_DESKTOP: 45px;

$BORDER_RADIUS: 10px;