
@import '~vuetify/src/styles/styles.sass';

$content-radius: 8px;

.project {
  --content-inner-padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background: #F5F5F7;
  width: 100%;
  max-width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 700px) {
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  &__container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F5F5F7;

    width: 100%;

    border-radius: $content-radius;

    padding: 30px 30px 30px 30px;
  }

  &__button{
    background: #299EF3;
  }

  &__content {
    width: 100%;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }

  &__description, &__title  {
    text-align: center;
    margin-bottom: var(--content-inner-padding);
  }

  &__forgot-password, .v-btn {
    margin-bottom: var(--content-inner-padding);
  }

  a {
    text-decoration: none;

    color: #299EF3;
    font-weight: 500;

    font-size: 0.875rem;
  }

  &__forgot-password, &__create-account {
    text-align: center;
  }
}

@media #{map-get($display-breakpoints, 'sm-and-up')} {
  .project {
    --content-inner-padding: 32px;

    &__container {
      min-height: 600px;
    }
  }
}